/*
Plugin Name: WooCommerce Upcoming Orders
Description: List upcoming orders for today or search them by available dates
Version: 1.0
Author: Botez Costin
*/

.table>tbody>tr>td[rowspan], .table, td {
    border: 1px solid #ddd;
}

.table>tbody>tr>td {
    vertical-align: inherit;
}

.table>tbody>tr.hover {
	background-color: #f5f5f5;
}

td.product-name dl.variation {
    margin-top: 20px;
    margin-left: 75px;
}

.chosen-container.chosen-container-single {
    display: inline-block;
    width: auto !important;
}

@media print {
	div#adminmenuwrap, .update-nag, #wpfooter,
	.tab-pane button {
	    display: none;
	}
	#wpcontent {
	    margin-left: 0;
	}
}